@model Faculty.Models.CourseDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>
<hr />

<div class="well">
    <img src="@Url.Action("CoursePhoto", "Course", new {id = Model.Id})" class="img-rounded img-responsive col-md-3" width="250" height="250" />
    <div class="pull-left col-md-9">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Durations)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Durations)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseStatus)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Teacher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Teacher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

        </dl>
    </div>
    <div class="clearfix"></div>
</div>



<div class="text-right">
    @Html.ActionLink("Back to Courses", "Index", null, new { @class = "btn btn-primary" })
</div>
