@model Faculty.Models.UserViewModel

@{
    ViewBag.Title = "Block";
}

<h2 class="text-center">Block</h2>
<h4 class="text-center">Are you sure you want to block this?</h4>
<hr />

<div class="well">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="text-right">
            <div class="btn-group">
                @Html.ActionLink("Back to Students", "Students", null, new { @class = "btn btn-primary" })
                <input type="submit" value="Block" class="btn btn-primary"/>
            </div>
        </div>
    }

